* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.calculator {
  background: #6e6969;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(85, 27, 27, 0.445);
  width: 300px;
}

.display {
  width: 100%;
  height: 25px;
  text-align: right;
  font-size: 2rem;
  padding: 10px;
  border: none;
  background: #eaeaea;
  border-radius: 8px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #ffffff;
  transition: background 0.2s;
}

.btn:hover {
  background: #dcdcdc;
}

.operator {
  background: #ff9500;
  color: #fff;
}

.operator:hover {
  background: #e08500;
}

.equal {
  background: #e08500;
  color: #fff;
  grid-column: span 1;
}

.clear {
  background: #000000;
  color: #fff;
}

.dot {
  background: #f0f0f0;
}
